<div class="flex flex-row justify-between mb-2">
  <h2 class="text-xl">Organisations</h2>
  <%= link_to "New organisation", new_organisation_path, class: "bg-teal-400 text-white rounded p-1" %>
</div>
<%= current_user.organisation.name %>