<div class="flex flex-row justify-between mb-2">
  <h2 class="text-xl">Organisations</h2>
  <%= link_to "New organisation", new_organisation_path, class: "bg-teal-400 text-white rounded p-1" %>
</div>
<ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-2">
  <% @organisations.each do |o| %>
    <li class="rounded shadow-lg p-2 bg-white">
      <%= o.name %>
    </li>
  <% end %>
</ul>