<%= form_with model: @option do |form| %>
  <div class="py-3 flex flex-col">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit class: "bg-teal-400 text-white rounded p-1" %>
<% end %>