<h1 class="text-xl my-5">🥪 Welcome to Lunch Time!</h1>
<% if logged_in? %>
  <%= link_to logout_path, class: "bg-red-500 text-white rounded p-1" do %>
    <%= fa_icon "sign-out" %> Log out
  <% end %>
<% else %>
  <%= link_to '/auth/google_oauth2', class: "bg-teal-500 text-white rounded p-1" do %>
    <%= fa_icon "google" %> Sign in with Google
  <% end %>
<% end %>